@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { /* pseudo-class */
  --fondo: orange; /* background-color: var(--fondo); */

  /* FONTS */
  --font-primary: "Poppins", sans-serif;
  --font-size: 18px;
  --font-weight-regular: 500;
  --font-weight-bold: 700;

  /* COLORS */
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-dark-violet: hsl(257, 27%, 26%);

  --secondary-red: hsl(0, 87%, 67%);

  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --neutral-very-dark-violet: hsl(260, 8%, 14%);
  --neutral-grayish-blue: hsl(225, 33%, 95%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsl(0, 0%, 0%);
}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size); /* VALOR POR DEFECTO */
}

body {
  font-family: var(--font-primary);
}
img {
  /* RWD para imágenes */
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILS */

.wrapper {
  width: min(100%, 1444px - 340px);

  margin: 0 auto;
}

.hidden{
    display: none;
}
/* HEADER SECTION */

header {
  /* border: 1px solid red; */

  height: 4.5rem; /* 72px / 16px */
  padding: 3rem;
 
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.header__menu-checkbox {
  display: none;
}

.header_logo{
  display: flex;
  flex-basis: 20%;
}
.header__nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 80%;

}
.header__links {
  font-size: .9rem;
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--neutral-gray);
}

.header__register {
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: 1rem; /* 16px */
}

.login_button {
  border: none;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  border-radius: 7rem;
  padding: 0.7rem 1.2rem;
  min-width: 5rem;
  color: var(--neutral-gray);
  background: none;
  transition: all 0.3s ease;
}

.sign-up_button {
  border: none;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  border-radius: 7rem;
  padding: 0.7rem 1.2rem;
  min-width: 5rem;
  color: var(--neutral-white);
  background: var(--primary-cyan);
}

.header label{
  display: none;
}

.header__links--menu {
  display: none;
}

@media (max-width: 1200px) {
  .header__menu{
    max-width: unset;
    justify-self: right;
  }

  .header__nav{
    display: flex;
    justify-content: center;
  }
  .header__wrapper label{
    display: flex;
  }
  .header__wrapper{
    position: relative;
  }
      
  .header__nav {
    all: unset;

    position: absolute;
    z-index: 1;
    top: 3rem;
    width: 80vw;
    height: auto;
    background-color: var(--primary-dark-violet);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--font-weight-bold);
    color: var(--neutral-white);

    opacity: 1;/*1 es sin opacidad*/
  }
    
  .login_button {
    all: unset;
    border: none;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: var(--neutral-white);
    background: none;
  }

  .sign-up_button {
    width: 100%;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: var(--neutral-white);
  }

  .header__links-menu{
    all: unset;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--neutral-white);
    padding: 2rem;
    gap: 1rem;
   
  }

  .header__links{
    border-bottom: 1px solid var(--neutral-grayish-violet);
  }


  input[type=checkbox]:checked ~ .header__nav {
    display: none;
  }
}

/*GET STARTED*/
.get-started {
  align-items: center;
  display: flex;
  /*flex-direction: column;*/
  gap: 1rem;
  padding: 6rem 2rem;
  padding-bottom: 12rem;
  position: relative;
  overflow: hidden;
}

.get-started img {
    right: -100px;
    position: absolute;
    right: -200px;
    object-fit: contain;
}

.get_started_description {
    width: 500px;
    padding: 0.5rem;
    gap: 2rem;
}
.get-started_title {
    font-size: 3.5rem;
    line-height: 4rem;
}
.get-started_text {
    font-weight: var(--font-weight-regular);
    color: var(--neutral-gray);
    font-size: 1rem;
}
.get-started_button {
  border: none;
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  border-radius: 7rem;
  padding: .8rem 1rem;
  min-width: 10rem;
  margin-top: 2rem;
  color: var(--neutral-white);
  background: var(--primary-cyan);
}

@media (max-width: 1200px) {
  .get-started {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 4rem 2rem 0 2rem ;
    padding-bottom: 8rem;
  }

  .get-started img {
    all: unset;
    position: relative;
    right: -120px;

  }

  .get_started_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .get-started_title,
  .get-started_text {
    display: flex;
    text-align: center;
    align-items: center;
}

}

/*SHORTEN IN*/
.shorten-it{
  background-color: var(--primary-dark-violet);

  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
 

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  position: inherit;
  top: -4.5rem;

}
.shorten-it_box{
   display: flex;
   flex-basis: 80%;
}
.shorten-it_box input{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  padding: 1rem;
  font-size: 1rem;
  color: var(--neutral-grayish-violet);
  background-color: var(--neutral-white);
  border-radius: .5rem;
  border: none;
  width: 100%;
  display: flex;
}
.shorten-it_button{
  border: none;
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  border-radius: .5rem;
  padding: 1rem;
  color: var(--neutral-white);
  background: var(--primary-cyan);
  display: flex;
  flex-basis: 20%;
  justify-content: center;
}

@media (max-width: 1200px) {
  .shorten-it{
    display: flex;
    flex-direction: column;
  }
  .shorten-it_box{
    width: 100%;  
  }
  .shorten-it_button{
    width: 100%;
  }

}

/*STATICS*/

.statics {
  flex: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  
  background: var(--neutral-grayish-blue);
  position: relative;
}
.statics_intro{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    padding-bottom: 4rem;
}
.statics_title{
    color:var(--neutral-very-dark-blue);
    font-size: 2rem;
}
.statics_text{
    color: var(--neutral-grayish-violet);
    font-weight: var(--font-weight-regular);
    width: 30rem;
    text-align: center;
}

/*FEATURES*/
.features{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-cyan);
    height: 0.5rem;
    margin-top: 9rem;
    margin-bottom: 11rem;

    width: 1140px;
}

.feature__box{
  position: relative;
}
.feature{
  
  position: absolute;
  top: -7.5rem;
  
  gap: .9rem;
  display:flex;
  flex-direction: column;
  background-color: var(--neutral-white);
  border-radius: 10px;
  padding: 1.5rem;
  padding-top: 3.5rem;
  margin: 2rem 0;
  width: 18rem;
}
.f1{
  top: -10rem;
}
.f2{
  left: -9rem;
}
.f3{
  top: -5rem;
  right: 0;
}
.feature_icon img{
    width: 3rem;
    height: 3rem;
}
.feature_icon{
    position: absolute;
    top: -110px;
    display: flex;
    align-self: start;
    background-color: var(--primary-dark-violet);
    padding: 1rem;
    border-radius: 50%;
}


.feature_title{
  position: relative;
    color:var(--neutral-very-dark-blue);
    font-size: 1.2rem;
}
.feature_text{
    color: var(--neutral-grayish-violet);
    font-weight: var(--font-weight-regular);
    font-size: 0.83rem;
    width: 16rem;
}

@media (max-width: 1200px) {

  .statics{
    display: flex;
    flex-direction: column;
    padding-bottom: 20rem;
  }
  .statics_intro{
    margin-bottom: 10rem;
  }
  .features{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

    width: 0.5rem;

    height: 600px;
    
  }
  .feature{
    left: -9.2rem;
    text-align: center;
  }
  .feature_icon{
    right: 5rem;
}

}

.boost-up{
  

  background-color: var(--primary-dark-violet);

  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  
  padding: 2rem 0;
}

.boost-up__title{

  color: var(--neutral-white);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.boost-up__button{
  border: none;
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  border-radius: 7rem;
  padding: 0.8rem 2.5rem;
  color: var(--neutral-white);
  background: var(--primary-cyan);
}

.footer{
  padding: 2rem 0;
  background-color: var(--neutral-very-dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.footer svg path {
  fill: var(--neutral-white);
}


.footer__menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
}

.footer__box{
  display: flex;
  flex-direction: column;
  gap: .5rem;

}

.footer__subtitle{
  font-weight: var(--font-weight-bold);
  color: var(--neutral-white);
  font-size: .8rem;

}

.footer__links{
  display: flex;
  flex-direction: column;
  color: var(--neutral-grayish-violet);
  font-size: .8rem;
  font-weight: var(--font-weight-bold);
  display: flex;
  gap: .4rem;
  color: var(--neutral-gray);

}

.footer__icons{
 display: grid; /* O display: flex; */
 grid-template-columns: repeat(4, 1fr); /* O simplemente define las columnas */
 column-gap: 2rem;

}
@media (max-width: 1200px) {
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
  }
  .footer__menu{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}